<!--Usando Material-->
<br><br>
<mat-card class="container text-center">
    <mat-card-content>Somos un equipo de desarrolladores que busca implementar los elementos aprendidos en el curso de 
        Tecnologías Web, siendo así este un proyecto universitario.
    </mat-card-content>
</mat-card><br><br><br>

<div class="container center">
    <div class="row" > 
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Mayte Uribarrien</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/desarolladores/may.jpeg" alt="may"><br>
            <mat-card-content>
                <p>Desarrolladora, estudiante de la Universidad Autónoma de Aguacalientes en la carrera de Sistemas Computacionales del 6to Semestre.</p>
                <p><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>4494938416</p>
                <p><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>urymay@gmail.com</p>
            </mat-card-content>
        </mat-card>
    
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Diego Márquez</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="#" alt=""><br>
            <mat-card-content>
                <p>Desarrollador, estudiante de la Universidad Autónoma de Aguacalientes en la carrera de Sistemas Computacionales del 6to Semestre.</p>
                <p><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>4491234567</p>
                <p><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>marquediego@gmail.com</p>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Arturo Villalobos</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../assets/desarolladores/art.jpeg" alt="art"><br>
            <mat-card-content>
                <p>Desarrollador, estudiante de la Universidad Autónoma de Aguacalientes en la carrera de Sistemas Computacionales del 6to Semestre.</p>
                <p><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>4492888877</p>
                <p><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>artvil2@gmail.com</p>
            </mat-card-content>
        </mat-card>
        
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Montserrat Silverio</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../assets/desarolladores/mon.jpeg" alt="mon"><br>
            <mat-card-content>
                <p>Desarrolladora, estudiante de la Universidad Autónoma de Aguacalientes en la carrera de Sistemas Computacionales del 6to Semestre.</p>
                <p><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>4493524330</p>
                <p><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>monzzcamp2@gmail.com</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>