body {
    height: 550px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 0px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
  }
  
  main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 10;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
  }
  
  div.item {
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: coral;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
      translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
  }
  
  div.item:nth-of-type(1) {
    --offset: 1;
    background-image: url("../../assets/imagenes/bnb2.1.jpg.webp");
    
  }
  div.item:nth-of-type(2) {
    --offset: 2;
    background-image: url("../../assets/imagenes/bnb2.2.jpg.webp");
  }
  div.item:nth-of-type(3) {
    --offset: 3;
    background-image: url("../../assets/imagenes/bnb2.3.jpg.webp");
  }
  div.item:nth-of-type(4) {
    --offset: 4;
    background-image: url("../../assets/imagenes/bnb2.4.jpg.webp");
  }
  div.item:nth-of-type(5) {
    --offset: 5;
    background-image: url("../../assets/imagenes/bnb2.5.jpg.webp");
  }

  
  input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
  }
  
  input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
  }
  
  input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
  }
  input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
  }
  
  input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
  }
  input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
  }
  
  input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }
  input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
  }
  


  table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    padding: .35em;
  
  }
  
  table th,
  table td {
    padding: .625em;
  
  
  }
  
  table th {
    font-size: 15px;
  
  
  
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
  
      
    }
    
    table tr {
  
      display: block;
      margin-bottom: .625em;
  
      
    }
    
    table td {
      display: block;
      font-size: .8em;
      text-align: right;
      
    
      
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  

  
 
  
  