<div style="width: 100vw;">
    <section>
        <body>
            <input type="radio" name="position" checked />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />
            <input type="radio" name="position" />

            <main id="carousel">
                
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>
              <div class="item"></div>

            </main>
          </body>
    </section>
</div>



<table>
  <thead>
    <tr>
     <th>
      <img src="../../assets/imagenes/aircover.jpg.webp" width="250px" style="margin-left: 50px;" alt="">
      <br><br>
      <p style="margin-left: 20px; margin-right: 10px;">Todas las reservaciones incluyen protección gratuita en caso de que el anfitrión cancele, de que haya imprecisiones en el anuncio o de que surjan otros inconvenientes, como problemas al momento de la llegada.</p>
      <br>
      <p style="font-size: 30px; margin-left: 30px;">Acerca de este lugar</p>
      <p style="margin-left: 20px; margin-right: 10px;">Bonito apartamento con un salón muy acogedor, una gran terraza, una cocina equipada, dos dormitorios y un baño. La casa es muy luminosa gracias a los grandes ventanales. Se encuentra en una zona tranquila donde varios medios de transporte que lo conectan tanto con el centro de la ciudad en 15/20min como con el aeropuerto de Milán en 15 min.
        El departamento debe ser compartido conmigo. 
        No proporciono el desayuno. </p>
      <br>
      <p style="font-size: 30px; margin-left: 30px;">Lo que ofrece este lugar</p>
      <p style="margin-left: 20px; margin-right: 10px;">
      - Cerradura en la puerta de la habitación<br>- Cocina<br>- Estacionamiento gratuito en la calle<br>
      - Lavadora<br>- Detector de monóxido de carbono<br>- Vista al patio<br>- Wifi<br>- Ascensor<br>
      - Aire acondicionado<br>- Detector de humo</p>

    </th>
     <th>
        <p style="text-align: center;"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d787.5186281470385!2d9.232535906993418!3d45.463681136082776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c67cd45a39df%3A0x200e8e0c276cf0fc!2sVia%20Luigi%20Devoto%2C%203%2C%2020133%20Milano%20MI%2C%20Italy!5e0!3m2!1sen!2smx!4v1683941260398!5m2!1sen!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
        <p style="font-size: 30px; margin-left: 30px;">Donde vas a estar</p>
        <p style="margin-left: 20px;">- Milán, Lombardia, Italia
          <br>- Para moverse hay autobuses, tranvías, bicicletas y el transeúnts del ferrocarril conectado con el metro</p>
      </th>
  </thead>
</table>

<button type="button" class="btn btn-success" style="font-size: 24px; width: 20vw; margin: 0 40vw 4vh 40vw;" (click)="reservar()" *ngIf="botonReservar">RESERVAR</button>

