<br><br>
<nav>  
    <body>
      <div class="container">
        <div style="width: 100vw;">
  
          <p style="font-size: 6vh; text-align:center;font-family: system-ui;color: #FF5A5F;">
            NUESTRA CASA ES TU CASA
          </p>
          <p style="font-size: 4vh; text-align:center;font-family: system-ui;color: #FF5A5F;">
            RESERVA YA
          </p>
        </div>

        <router-outlet></router-outlet>
        <div class="container text-center">
          <!--FILA 1-->
          <div class="row" style="width: 100vw; margin:0 0 7vh 0; padding: 0;">
            <!--Casa 1 -->
            <div class="col">
              <img src="../../assets/imagenes/bnb1.1.jpeg.webp" alt="blog post one" class="img-fluid">
              <br><br>
              <button routerLink="airbnb1" type="button" class="btn btn-success" style="font-size: 12px;">RESERVAR</button>
            </div>
            <!--Casa 2-->
            <div class="col">
              <img src="../../assets/imagenes/bnb2.1.jpg.webp" alt="blog post one" class="img-fluid">
              <br><br>
              <button routerLink="airbnb2" type="button" class="btn btn-success" style="font-size: 12px;">RESERVAR</button>
            </div>
            <!--Casa 3-->
            <div class="col">
              <img src="../../assets/imagenes/bnb3.1.jpeg.webp" alt="blog post one" class="img-fluid">
              <br><br>
              <button routerLink="airbnb3" type="button" class="btn btn-success" style="font-size: 12px;">RESERVAR</button>
            </div>
          </div>
  
          <!--FILA 2-->
          <div class="row" style="width: 100vw; margin:0 0 7vh 0; padding: 0;">
            <!--Casa 4-->
            <div class="col">
              <img src="../assets/imagenes/bnb4.1.jpeg.webp" alt="blog post one" class="img-fluid">
              <br><br>
              <button routerLink="airbnb4" target="_blank" type="button" class="btn btn-success" style="font-size: 12px;">RESERVAR</button>
            </div>
            <!--Casa 5-->
            <div class="col">
              <img src="../../assets/imagenes/bnb5.1.jpg.webp" alt="blog post one" class="img-fluid">
              <br><br>
              <button routerLink="airbnb5" type="button" class="btn btn-success" style="font-size: 12px;">RESERVAR</button>
            </div>
            <!--Casa 6-->
            <div class="col">
              <img src="../../assets/imagenes/bnb6.1.jpeg.webp" alt="blog post one" class="img-fluid">
              <br><br>
              <button routerLink="airbnb6" type="button" class="btn btn-success" style="font-size: 12px;">RESERVAR</button>
            </div>
          </div>
  
          <!--FILA 3-->
          <div class="row" style="width: 100vw; margin:0 0 7vh 0; padding: 0;">
            <!--Casa 7-->
            <div class="col">
              <img src="../../assets/imagenes/bnb7.1.jpeg.webp" alt="blog post one" class="img-fluid">
              <br><br>
              <button routerLink="airbnb7" type="button" class="btn btn-success" style="font-size: 12px;">RESERVAR</button>
            </div>
            <!--Casa 8-->
            <div class="col">
              <img src="../../assets/imagenes/bnb8.1.jpg.webp" alt="blog post one" class="img-fluid">
              <br><br>
              <button routerLink="airbnb8" type="button" class="btn btn-success" style="font-size: 12px;">RESERVAR</button>
            </div>
            <!--Casa 9-->
            <div class="col">
              <img src="../../assets/imagenes/bnb9.1.jpg.webp" alt="blog post one" class="img-fluid">
              <br><br>
              <button routerLink="airbnb9" type="button" class="btn btn-success" style="font-size: 12px;">RESERVAR</button>
            </div>

          </div>
        </div>
      </div>
    </body>
  </nav>


  <p></p>